body {
   
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right top, #fccfa4, #f8e5c6); Degradado en tono champagne */
    /* background: linear-gradient(to right top, #f9eadd, #edd7b3); Degradado en tono champagne */
}

.container {
    max-width: 100%;
    margin: 0 auto;
    /* background: linear-gradient(to right top, #a28367, #d1bfa0);  */
}
/* Establece el tamaño de cada sección al 100% de la altura visible */
section {
    height: 100vh;
}
/* Seccion de presentacion */
.seccion-presentacion {
    text-align: center;
    padding: 20px;
}

.seccion-presentacion, 
.seccion-palabras-alucivas,
.seccion-iglesia,
.seccion-evento,
.seccion-agradecimiento {
    text-align: center;
    padding: 20px;
    background-image: url('/assets/fondo.jpg'); /* Reemplaza 'fondo-floral2.jpg' con tu imagen floral */
} 
.seccion-presentacion h1 {
    color: #4D4945; /* Color de texto personalizado */
}
.icono-quince {
    width: 250px; /* Tamaño del icono de la iglesia */
    height:auto;
}
/* Seccion de palabras alucivas */
.seccion-palabras-alucivas {
    text-align: center;
    padding: 20px;
}

/* Seccion de lugar y hora de la iglesia */
.seccion-iglesia {
    font-family: 'Perfect Garden', sans-serif;
    text-align: center;
    padding: 20px;
}

.icono-iglesia {
    width: 100px; /* Tamaño del icono de la iglesia */
    height: 100px;
}

/* Seccion lugar y hora del evento */
.seccion-evento {
    text-align: center;
    padding: 20px;
}

.icono-globos {
    width: 100px; /* Tamaño del icono de globos */
    height: 100px;
}

/* Seccion de Agradecimiento */
.seccion-agradecimiento {
    text-align: center;
    padding: 20px;
}

.foto-agradecimiento {
    width: 100px; /* La imagen ocupa todo el ancho de su contenedor */
    height: auto; 
    border-radius: 100%;

}

/* Estilos generales para botones */
button {
    background-color: #776C60; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Estilos para pantallas más pequeñas (Responsive) */
@media screen and (max-width: 360px) {
    .seccion-presentacion,
    .seccion-palabras-alucivas,
    .seccion-iglesia,
    .seccion-evento,
    .seccion-agradecimiento {
        padding: 10px;
    }
}
