
@font-face {
    font-family: 'Perfect Garden';
    src: url('/assetts/Perfect_Garden.ttf') format('truetype'); 
    font-family: 'Abhaya Libre';
    src: url('/assetts/AbhayaLibre-Regular.ttf') format('truetype');
    
    
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abhaya Libre', sans-serif;
    background-color: #f4f4f4;
}

/* Estilos generales de la sección */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sección de presentación */
.seccion-presentacion {
    background-image: url('/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #776C60;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sección de subtítulo */
.seccion-subtitulo {
    background-image: url('/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sección de la iglesia */
.seccion-iglesia {
    background-image: url('/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #776C60;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sección del evento */
.seccion-evento {
    background-image: url('/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #776C60;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sección de agradecimiento */
.seccion-agradecimiento {
    background-image: url('/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #776C60;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos comunes para títulos */
.titulo {
    font-family: 'Perfect Garden', sans-serif;
    font-size: 4em;
    margin-bottom: 10px;
}

/* Estilos comunes para texto */
.texto {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-mapa {
    background-color: #776C60; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin-top: 20px;
}

/* Estilos específicos para las imágenes de iconos */
.icono-quince {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
 .foto-agradecimiento{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
 }
 .icono-iglesia, .icono-globos {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

/* Estilos específicos para la imagen de la cruz */
.seccion-subtitulo img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.icono-ubicacion{
    width: 10px;
    height:auto;
    margin-left: 5px;
}