

/* Estilo general para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', sans-serif;
    /* Font principal */
}

/* Estilo para las secciones */
section {
    /* height: 100vh; */
    /* Tamaño de la pantalla del dispositivo */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

/* Estilo para el contenedor interno de cada sección */
.container {
    text-align: center;
}

/* Estilos para la sección de presentación */
.seccion-presentacion {
    background: url('../assets/fondo.jpg') center/cover;
    /* Imagen de fondo */
    color: #776C60;
}

/* Estilos para la sección de palabras alusivas */
.seccion-subtitulo {
    background: url('../assets/fondo.jpg') center/cover;
    /* Imagen de fondo */
    color: #776C60;
}

/* Estilos para la sección de lugar y hora de la iglesia */
.seccion-iglesia {
    background: url('../assets/fondo.jpg') center/cover;
    /* Imagen de fondo */
    color: #776C60;
}

/* Estilos para la sección de lugar y hora del evento */
.seccion-evento {
    background: url('assets/fondo4.jpg') center/cover;
    /* Imagen de fondo */
    color: #776C60;
}

/* Estilos para la sección de agradecimiento */
.seccion-agradecimiento {
    background: url('assets/fondo5.jpg') center/cover;
    /* Imagen de fondo */
    color: #776C60;
}

/* Estilo para el título */
.titulo {
    font-family: 'Parisienne', serif;
    /* Otra fuente para el título */
    font-size: 2em;
    margin-bottom: 10px;
}
.nombre {
    font-family: 'Parisienne', serif;
    /* Otra fuente para el título */
    font-size: 4em;
    margin-bottom: 10px;
}
/* Estilo para el subtitulo */
.subtitulo {
    font-size: 1.5em;
    margin: 5px 0;
}

/* Estilo para el texto general */
.texto {
    font-size: 1em;
    margin: 10px 0;
}

/* Estilo para los botones y enlaces */
.btn-mapa {
    background-color: #776C60;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
}

/* Estilos específicos para las imágenes de iconos */
.icono-quince {
    width: 250px;
    height: auto;
    
}

.foto-agradecimiento {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.icono-iglesia,
.icono-globos {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

/* Estilos específicos para la imagen de la cruz */
.seccion-subtitulo img {
    width: 5px;
    height: 5px;
    margin-left: 5px;
}

.icono-ubicacion {
    width: 10px;
    height: auto;
    margin-left: 5px;
}